.container{

	max-width: 1000px;
	margin: auto;
}

table{

	border-collapse:collapse;
	width: 100%;
}
td{

	border: 1px solid;
	vertical-align: middle;
}

.img-container{

	text-align: center;
}

td h3{

	text-transform: capitalize;
}

td img{

	height: 150px;
	
}
